header .container {
    justify-content: space-between;
    align-items:center ;
    flex-wrap: wrap;
}
.logo-area {
    padding: 0 31px;
    width: 10%;
    flex: 1;
}
.logo-area img  {
    height: 30px;
    width: 92px;
    
}
.space-around{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.inputtop form {
    width: 600px;
}
.inputtop {
    display: flex;
    align-items: center;
}

.inputDado {
    justify-content: flex-end;
}