header .container {
    justify-content: space-between;
    align-items:center ;
    flex-wrap: wrap;
}
.logo-area {
    padding: 0 31px;
    width: 10%;
    flex: 1;
}
.logo-area img  {
    height: 30px;
    width: 92px;
    
}
.space-around{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.inputtop form {
    width: 600px;
}
.inputtop {
    display: flex;
    align-items: center;
}

.inputDado {
    justify-content: flex-end;
<<<<<<< HEAD
}

/* MENU 2 */
.menu2 nav ul {
    display: flex;
    align-items: center;
    
}
.menu2 nav ul li {
    margin-right: 15px;
    list-style: none;
}
.menu2 nav ul li a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
} 

/*          CONTAINER            */
.line_div {}
.container {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px; 
}
article .results {
    flex: 2;
}
article .sidebar {
    flex: 1;
} 
.search-results p {
    margin: 10px 0;  

=======
>>>>>>> 6c96e9878eaefa46e1517bb068a2e896f930e281
}